<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header' , {cates:config.menu}) %>
    <section class="body-wrapper">
        <%-body%>
        <%- partial('_partial/footer') %>
    </section>
    <%- js('js/f25.js') %>
    <% if (is_post() && theme.gitalk_clientID && theme.gitalk_clientSecret ){ %>
        <%- js('js/gitalk.min.js') %>
        <%- partial('_partial/gitalk') %>
    <%}%>
</body>
</html>
