<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <%- partial('_partial/header' , {cates:config.menu}) %>
    <div class="body-wrapper" id="J_body">
        <%-body%>
        <%- partial('_partial/footer') %>
    </div>
    <%- js('js/f25.js') %>
</body>
</html>