<head>  
  <!-- Title -->
  <%
      var title = [];
      if (page.current > 1) {
        title.push(__('page', page.current));
      }
      else if (page.title) {
        title.push(page.title);
      }else if ( page.category ){
        title.push(page.category);
      }
      title.push(config.title);
  %>
  <meta charset="utf-8">
  <meta name="applicable-device" content="pc,mobile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, viewport-fit=cover" >
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <meta name="author" content="<%=config.author%>" />
  <meta name="designer" content="<%=config.author%>" />
  <meta name="keywords" content="<%=title.join(',') %>,<%=config.keywords%>" />
  <meta property="og:title" content="<%= title.join(' | ') %>" />
  <meta property="og:site_name" content="<%=config.url%>" />
  <% if (page.title){ %>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%-url_for(config.url + '/' + page.path)%>" />
    <meta property="og:image" content="<%- url_for(config.url + '/' + (page.cover || theme.default_cover))%>" />
    <meta property="og:description" content="<%=page.title %>--<%=page.subtitle%>" />
    <meta name="description" content="<%=page.title %>--<%=page.subtitle%>" />
  <%}else{%>
    <meta property="og:description" content="<%=config.description%>" />
    <meta name="description" content="<%=config.description%>" />
  <%}%>
  <meta name="rating" content="general" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="robots" content="index, follow" />
  <link rel="icon" href="<%=theme.favicon%>">
  <title><%= title.join(' | ') %></title>
  <%- css('css/f25.css') %>
  <%- css('css/highlight.css') %>
  <% if (is_post() && theme.gitalk_clientID && theme.gitalk_clientSecre){ %>
    <%- css('css/gitalk.css') %>
  <%}%>
  <%- partial('google-analytics') %>
</head>