<li class="post-i-wrapper">
    <a href="<%- url_for(item.path)%>" class="wrapper post-i-link" title="<%=item.title%>">
        <div class="wrapper cover">
            <img src="<%- url_for(item.cover || theme.default_cover)%>" alt="<%=item.title%>">
        </div>
        <h3 class="wrapper title" title="<%=item.title%>"><%=item.title%></h3>
        <p class="wrapper subtitle">
            <%-item.subtitle%>
        </p>
        <div class="wrapper time"><%- full_date(item.date, 'YYYY-MM-DD') %></div>
    </a>
</li>